html
    head
        style
            include ../../public/stylesheet.css
        title Login
body
    div
        h1 Login Error
        br
        br
        h2 You are already logged in.
        include ../partials/loggedin