html
    head
        style
            include ../../public/stylesheet.css
        title Logout
body
    div
        h1 Logout
        br
        br
        h2 You have successfully logged out.
        include ../partials/loggedout