html
    head
        style
            include ../../public/stylesheet.css
        title Logout
body
    div
        h1 Logout Error
        br
        br
        h2 You are already logged out.
        include ../partials/loggedout