html
    head
        style
            include ../../public/stylesheet.css
        title Order Form
    body(onload="init()")
        select#restaurant-select
        br
        br
        div#info
        div#main
            div#left(class="column left")
            div#middle(class="column middle")
            div#right(class="column right")
        include ../partials/loggedin
        script
            include ../../public/js/orderform.js