html
    head
        style
            include ../../public/stylesheet.css
        title Profile
body
    div
        h1 Profile Error
        br
        br
        h2 You need to be logged in to view your profile.
        include ../partials/loggedout