html
    head
        style
            include ../../public/stylesheet.css
        script
            include ../../public/js/register.js
        title Register
body
    h1 Register a New Account:
    br
    br
    div#main
        p Enter a Username:
            br
            input(id="username-input", type="text", name="name")
        p Enter a Password:
            br
            input(id="password-input", type="text", name="pass")
        br
        div(class="register", onclick="register()") Register
    include ../partials/loggedout