html
    head
        style
            include ../../public/stylesheet.css
        title Users 
body
    h1 Users:
    br
    br
    if users.length > 0
        each user in users
            a(href="/users/"+user._id) #{user.username}
            br
    else
        p No users were found. Try searching a different name.
    if loggedin
        include ../partials/loggedin
    else
        include ../partials/loggedout