html 
    head 
        style 
            include ../../public/stylesheet.css 
        script
            include ../../public/js/shared/collectForm.js
        title Admin Password Reset
    body
        form(name="password-form")
            label(for="password") Enter new password:
            input(type="text", name="password", id="password")
            input(type="hidden" name="id" value=id)
            button(type="submit") Reset Password
script
  include ../../public/js/adminPasswordReset.js
  include ../../public/js/shared/collapsePanel.js