html
    head
        style
            include ../../public/stylesheet.css
        script 
            include ../../public/js/shared/collectForm.js
        title Login
body
    h1 User Login:
    br
    br
    div#main
        form(name="login-form")
            label(for="username-input") Username:
            br
            input(id="username-input" type="email" name="username" placeholder="user@email.com")
            br
            label(for="password-input") Password:
            br
            input(id="password-input" type="password" name="password" placeholder="password")
            p#password-error(style="color: red; display: none;")
            br
            button(class="login" type="button" onclick="login()") Login
    include ../partials/loggedout
script
    include ../../public/js/login.js