div#header(class="pages")
    a(href="/") Home
    div(class="vr")
    a(href="/users") Users
    div(class="vr")
    a(href="/order") Order
    div(class="vr2")
    a(href="/profile") Profile
    div(class="vr")
    a(href="/logout") Log Out